<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partial/header %>
    </header>
    <main>
      <div class="jumbotron">
        <h1>Supplyframe Fullstack Challenge</h1>
        <p>View list of projects from Hackaday in list mode</p>
        <h2><%= name %></h2>
        <h4>Project Number: <%= number %></h4>
        <h4>Project Detail: <%= detail %></h4>
        <button><a href="/">Recommended Project</a></button>
      </div>
    </main>
    <footer>
      <% include ../partial/footer %>
    </footer>
  </body>
</html>
