<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>
  </head>
  <body class="container">
    <main>
      <div class="jumbotron">
        <h1>Fullstack Challenge</h1>
        <p>-View list of projects from Hackaday in grid mode-</p>
        <p>
          -Display 6 items at a time (meaning by pressing next button, you have
          to see the next 6 items)
        </p>
      </div>
      <div class="row">
        <% if (projects && projects.length) { %> <% var start = 0, end =
        projects.length; %>
        <div id="project-grid">
          <% while(start < end) { %>
          <div class="col-sm-4">
            <a href="/detail/<%= projects[start].id %>">
              <h4>
                <%= projects[start].name %>
              </h4>
            </a>
          </div>
          <% start++; %> <% } %>
        </div>
        <% } %>
      </div>
      <script src="/js/projectList.js"></script>
      <button id="prev" class="hide" onclick="prev()">Previous</button>
      <button
        id="next"
        class="<% if (!hasNext) { %>hide<% } %>"
        onclick="next()"
      >
        Next
      </button>
    </main>
  </body>
</html>
