<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>
  </head>
  <body class="container">
    <main>
      <div class="jumbotron">
        <h1>Fullstack Challenge</h1>
        <h2><%= name %></h2>
        <h4>Project Number: <%= number %></h4>
        <h4>Project Detail: <%= detail %></h4>
        <button><a href="/">Recommended Project</a></button>
      </div>
    </main>
  </body>
</html>
